__pycache__/
*.py[cod]
*.pyo
.pytest_cache/
.venv/
venv/
env/
logs/
*.log
*.np
config.json
printer_preset_config.json
异常文件夹/
下发完成/
已完成/
监控文件夹/
*.rar
*.zip
*.exe
*.spec
build/
dist/
*.jpg
*.jpeg
*.png
*.bmp
*.gif
*.heic
*.heif
*.livp
